@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --artdeco-reset-typography-font-family-sans: -apple-system, system-ui,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu,
    Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica,
    Arial, sans-serif;
  font-family: var(--artdeco-reset-typography-font-family-sans);
}

:root {
  background-color: #f3f2ef;
}

.t-bold {
  font-weight: 600;
}

.t-normal {
  font-weight: 400;
}

.t-16 {
  font-size: 16px;
}

.t-14 {
  font-size: 14px;
}

.t-12 {
  font-size: 12px;
}

.t-black {
  color: black;
}

.t-black--light {
  color: rgb(0 0 0 / 60%);
}

.artdeco-button-text {
  color: rgb(0 0 0 / 60%);
  margin-left: 8px;
  white-space: nowrap;
  font-weight: 600;
}

.follow-button-text-color {
  color: rgb(0 0 0 / 60%);
  font-weight: 600;
}

.container {
  width: 1128px;
  margin: 0 auto;
}

.body-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.side-bar-section {
  display: flex;
  flex-direction: column;
  width: 225px;
  margin-right: 20px;
}

.identity-bg-image {
  background-image: url("../images/bg-image.JPG");
  background-position: center;
  background-size: cover;
  display: block;
  height: 56.25px;
  margin: -12px -12px 0;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.profile-details-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 12px 12px 16px;
  border-bottom-color: rgb(0 0 0 / 8%);
}

.profile-pic-section {
  text-align: center;
}

.profile-pic-section a {
  color: black;
  text-decoration: none;
}

.profile-pic-section-image img {
  width: 64px;
  height: 64px;
  margin: -38px auto 12px;
  border: 2px solid #fff;
  background-position: center;
  border-radius: 50%;
}

.view-connections-section {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.entry-list .row {
  display: flex;
  flex-direction: column;
}

.entry-list {
  list-style-type: none;
}

.entry-list-item {
  list-style-type: none;
}

.entry-list-item a {
  display: block;
  padding: 4px 12px;
}

.entry-item-viewed {
  display: flex !important;
  align-items: baseline !important;
  justify-content: space-between;
}

.feed-recommandation a:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.follow-button:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.header:hover {
  text-decoration: underline;
  color: #3466c2;
}

.my-terms:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.premium-section:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.premium-section:hover span {
  color: #3466c2;
}

.entry-list-item:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.entry-item a {
  color: black;
  text-decoration: none;
}

.entry-item-viewed-left span {
  text-align: left;
}

.entry-color {
  color: #0a66c2;
}

.entry-item-viewed-right span {
  text-align: right;
  font-size: 15px;
}

.identity-block p {
  margin-top: 4px !important;
}

.premium-section {
  padding: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-top-color: rgb(0 0 0 / 8%);
}
.premium-for-free {
  display: flex;
  align-items: center;
}

.premium-section a {
  color: black;
  text-decoration: none;
}

.my-terms {
  padding: 12px !important;
  display: block;
  border-top: 1px solid rgb(0 0 0 / 8%);
}

.v-lign {
  vertical-align: super;
}

.my-terms a {
  color: black;
  text-decoration: none;
}

.side-bar-sticky-content-section {
  border-radius: 5px;
  background-color: white;
}

.recent-content {
  padding: 10px 0;
}

.recent-content-header {
  display: flex;
  justify-content: space-between;
}

.side-bar-dropdown-button {
  border: none;
  color: white;
  background-color: white;
}

.recent-content-header-button button {
  cursor: pointer;
}

.side-bar-dropdown-button:hover {
  display: block;
  color: black;
}

.truncate {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.list-flex {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.hashtag {
  margin-right: 8px;
  float: left;
  color: rgb(0 0 0 / 60%);
}

.a-text-decoration {
  text-decoration: none;
  cursor: pointer;
}

.groups-content {
  padding: 10px 0;
}

.groups-content a {
  text-decoration: none;
  color: #0a66c2;
}

.text-color {
  color: #0a66c2;
}

.event-section a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #0a66c2;
}

.event-section {
  padding: 10px 0;
}

.event-button {
  border: none;
  background-color: white;
}

.followed-hastags-content {
  padding: 10px 0;
}

/* Sort by section */

.feed-sort-by-button {
  display: flex;
  width: 100%;
  border: none;
  border-color: white;
  align-items: center;
  margin-bottom: 8px;
  background-color: unset;
}

.sort-by-button-hr {
  margin-right: 8px;
  flex-grow: 1;
}

.sort-by-span {
  margin-left: 4px;
}

.top-span {
  margin-left: 4px;
  margin-right: 4px;
  font-weight: bold;
}

.sort-button-right-section {
  display: flex;
  background-color: unset;
}

/* Aside Section */

.outer-card {
  margin-bottom: 8px !important;
}

.feed-follows-module {
  padding: 12px;
}
.aside-card-view {
  border-radius: 10px;
  background-color: white;
}

.feed-follow-module-header {
  display: flex;
  justify-content: space-between;
}

.feed-icon {
  color: black;
  list-style-type: none;
}

.feed-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.feed-follow-module {
  margin-top: 16px;
}

.feed-follow-module-list li {
  display: flex;
  align-items: center;
}

.feed-follow-module-list {
  margin-top: 16px;
}

.feed-follow-module-member {
  margin: 12px 0;
}

.feed-follow-module-member-avatar {
  align-self: flex-start;
  margin-right: 12px;
  flex-shrink: 0;
}

.module-member-description {
  display: block;
  line-height: 2rem !important;
  max-height: 6rem;
  margin-bottom: 4px;
  flex-grow: 1;
  overflow: hidden;
}

.module-memebr-description-name {
  display: flex;
}

.follow-button {
  padding: 5px 10px 5px 10px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 1.6rem !important;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.button-background {
  background-color: hsl(0deg 0% 100% / 0%);
  color: rgb(0 0 0 / 60%);
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 60%);
}

.follow-button-list-type {
  list-style-type: none;
  display: inline-block;
}

.member-details {
  display: block;
  line-height: 20px !important;
  max-height: 4rem;
  margin-bottom: 4px;
  flex-grow: 1;
  overflow: hidden;
}

.member-details a {
  text-decoration: none;
  color: black;
}

.feed-recommandation a {
  display: flex;
  text-decoration: none;
  color: black;
}

.feed-recommandation p {
  margin-right: 4px;
}

/* Aside Bottom Sticky Part */

/* .aside-sticky-content{
  border: 1px solid black;
} */

.sticky-banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  height: 251px;
  margin-bottom: 8px;
  background-color: white;
}

.sticky-banner-container:hover {
  cursor: pointer;
}

.sticky-footer-container {
  background-color: transparent;
  margin-top: 10px;
}

.aside-section {
  width: 316px;
  border-radius: 10px;
  margin-left: 20px;
}
.side-bar-identity {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}

.side-bar-sticky-content {
  padding: 10px 10px;
}

.feed-follow-module {
  background-color: white;
}

.footer-compact-links {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1.6rem 1rem;
}

.under-line:hover {
  text-decoration: underline;
  color: #3466c2;
}

.bottom-footer-content {
  margin: 1.6rem 1rem;
}

.sticky-footer-container ul li {
  margin: 0.4rem 0.8rem;
  /* font-size: 1.6rem; */
}

.sticky-footer-container ul li a {
  text-decoration: none;
  color: black;
}
.bottom-footer-content {
  display: flex;
  background-color: transparent;
  justify-content: center;
}

/* News Feed Section */

.news-feed-section {
  width: 542px;
  margin-right: 0 20px;
}

.posting-area-entry {
  display: flex;
  border-radius: 0.8rem !important;
}

.feed-input-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  flex-grow: 1;
}

.feed-posting-section {
  display: flex;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 16px;
}

.feed-input-option {
  display: flex;
  justify-content: space-around;
  color: gray;
  cursor: pointer;
}

.feed-icon-button:hover {
  background-color: #ebebeb;
  border-radius: 5px;
  cursor: pointer;
}

.feed-icon-button span {
  margin-left: 5px;
}

.feed-icon-button {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  padding: 10px;
  min-height: 3rem;
  flex-grow: 1;
  justify-content: center;
}

.post-icon-button {
  padding: 4px 8px;
}

.feed-icon-button span {
  margin-left: 4px;
}

.feed-input {
  border: 1px solid lightgray;
  display: flex;
  border-radius: 30px;
  padding: 10px;
  color: gray;
  padding-left: 15px;
  flex-grow: 1;
}

.feed-input > form {
  display: flex;
  width: 100%;
}

.feed-input > form > input {
  border: none;
  flex: 1;
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.profile-picture {
  margin-right: 8px !important;
}

/* Feed Post Section */

.feed-react-header {
  padding: 12px 16px 12px 16px;
}

.header-border {
  border-bottom: 1px solid rgb(0 0 0 / 8%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.feed-react-header-text-wrapper {
  align-items: center;
}

.feed-react-header-text-wrapper a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.feed-react-button {
  right: 12px;
  top: 4px;
  background-color: white;
  border: none;
}

.feed-react-button:hover {
  cursor: pointer;
  background-color: #ebebeb;
  border-radius: 50%;
}

/* Comments section */

.feed-comment-sections {
  display: flex;
  flex-direction: column;
}

.feed-add-comment-box {
  padding: 4px 16px 9px;
  display: flex;
  align-items: flex-start;
}

.comment-box-container {
  border-width: 3px 0;
  flex-grow: 1;
}

.comment-text-editor {
  border: 1px solid black;
  border-radius: 20px;
}

.display-flex {
  display: flex;
}

.post-react-button {
  background-color: white;
  border: none;
  margin-right: 10px;
}

.post-insert-image-button {
  background-color: white;
  border: none;
}

.feed-most-relavent-section {
  margin: 0 8px 8px 12px;
}

.most-relavent-button {
  background-color: white;
  border: none;
}

.comment-item {
  padding: 0;
  margin: 12px 16px;
}

.comment-post-meta {
  display: flex;
  flex-direction: column;
}

.feed-post-info-commnet-list {
  margin-left: 10px;
  background-color: #f2f2f2;
  flex-grow: 1;
}

.feed-post-info-commnet-list p {
  font-size: 12px;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed-post-info-commnet-list span {
  font-size: 12px;
  color: gray;
}

.feed-post-info-commnet-list a {
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.feed-posting-time {
  align-items: center;
  display: flex;
  float: right;
  justify-content: flex-end;
  min-width: 68px;
  position: absolute;
  top: 8px;
  right: 24px;
}

.feed-posting-time span {
  margin-right: 4px;
}

.comment-body {
  margin-left: 66px;
  padding: 0 16px 12px 12px;
  background-color: #f2f2f2;
}

.feed-comment-post-header {
  display: flex;
  padding: 12px 16px 0;
}

.feed-post {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

.feed-post-header {
  display: flex;
  margin-bottom: 8px;
  padding: 12px 16px 0;
}

.feed-post-info {
  margin-left: 10px;
}

.feed-post-info p {
  font-size: 12px;
  color: gray;
}

.feed-post-info span {
  font-size: 12px;
  color: gray;
}

.feed-post-info a {
  text-decoration: none;
  color: black;
}

.feed-user-image img {
  height: 53px;
  width: 53px;
  border-radius: 50%;
}

.feed-user-image {
  display: flex;
  position: relative;
}

.feed-user-image a {
  text-decoration: none;
  color: black;
  margin-left: 8px;
}

.feed-user-image p {
  font-size: 12px;
  color: gray;
}

.feed-user-image span {
  font-size: 12px;
  color: gray;
}

.post-description-show-more-text {
  max-width: 928px;
  display: block;
  margin: 0 16px;
  overflow: hidden;
}

.feed-shared-image {
  margin-top: 8px;
}

/* Follow Page */

.feed-follow-page-info {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.feed-pofollow-pagest-info p {
  font-size: 12px;
  color: gray;
}

.feed-follow-page-info span {
  font-size: 12px;
  color: gray;
}

.feed-follow-page-info a {
  text-decoration: none;
  color: black;
}

.feed-share-post-header {
  display: flex;
  margin-bottom: 8px;
  padding: 12px 16px 0;
  justify-content: space-between;
}

.feed-follow-button {
  margin-right: 8px;
  display: flex;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  cursor: pointer;
  font-weight: 600;
  border: none;
  background-color: white;
}

.feed-follow-button:hover {
  background-color: #e2f0fe;
  border-radius: 5px;
  cursor: pointer;
}

.feed-shared-text span a {
  color: #0a66c2;
  text-decoration: none;
}

.feed-shared-text span a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.feed-post-see-more-button {
  bottom: 0;
  right: 0;
  padding-left: 8px;
  border: none;
  background-color: white;
  float: right;
}

.feed-post-see-more-button span {
  color: #8f8e8e;
  font-weight: 400px;
  font-size: 15px;
}

.feed-post-see-more-button span:hover {
  color: #1e72c7;
  cursor: pointer;
}

.feed-follow-button span {
  margin-left: 4px;
  color: #0a66c2;
  font-weight: bold;
  font-size: 16px;
}

.feed-shared-image img {
  height: 100%;
  width: 100%;
  position: relative;
}

.feed-social-count {
  display: flex;
  margin: 0 16px;
  padding: 8px 0;
  border-bottom: 1px solid rgb(0 0 0 / 8%);
}

.feed-social-ul {
  display: flex;
  list-style-type: none;
  flex-grow: 1;
}

.social-reaction {
  flex-grow: 1;
}

.social-reaction-button {
  display: flex;
  border: none;
  background-color: white;
  font-size: 13px;
  cursor: pointer;
}

.online-status {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  border: 2px solid #057642;
  border-width: 3px;
  box-shadow: 0 0 0 2px #fff;
}

/* .social-reaction-button-span {
}

.social-comments-count {
} */

.feed-button-color {
  color: rgb(0 0 0 / 60%);
}

@media (min-width: 770px) and (max-width: 990px) {
  .side-bar-section {
    width: 31%;
    flex-grow: 1;
  }

  .news-feed-section {
    width: 66%;
    margin: 0px;
    flex-grow: 0;
  }

  .body-section{
    margin: 0px 30px;
    justify-content: flex-end;
  }

  .aside-section {
    margin-left: 0px;
    width: 66%;
    flex-grow: 0;
  }
}

@media (min-width: 350px) and (max-width: 767px) {
  .side-bar-section {
    width: 100%;
    margin: 15px 0px !important;
  }

  .news-feed-section {
    width: 100%;
    margin: 0;
  }

  .body-section{
    margin: 0px 30px;
    justify-content: flex-end;
  }

  .aside-section {
    margin: 0;
    width: 100%;
  }
}
